.send-btn{
      background-color: rgb(25, 135, 84);
      padding: 8px 10px;
      border-radius: 10px;
      border: none;
      margin-left: 8px;
      color: rgb(238, 238, 238);
      cursor: pointer;
    }
    .input{
      padding: 8px 10px;
      border-radius: 10px;
      border-width: 1px;
      margin-left: 8px;
      flex-grow: 1;
    }
    .chat-input-container{
      display: flex;
      margin-bottom: 20px;
    }