.chat-message-user{
      display: flex;
      justify-content: end;
      align-items: start;
    }
    .chat-message-robot{
      display: flex;
      align-items: start;
    }
    .chat-message-text{
      display: flex;
      align-items: center;
      background-color: rgb(218, 215, 215);
      border-radius: 10px;
      padding: 15px 20px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 300px;
      /* height: 45px; */
      object-fit: cover;
      
    }
    .chat-message-profile{
      width: 45px;
      border-radius: 45px;
      object-fit: cover;
      height: 45px;
    }
    .chat-message-time{
      color: gray;
      font-size: 9px;
      margin-top: 5px;
    }