
    body{
      font-family: Arial;
      margin: 0px;
    }
    
    .app-container{
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    
    .loadingImage{
      height: 40px;
    }
  